.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1.5fr 1.5fr; /* removed extra row */
    gap: 12px;
    padding: 8px;
    background-color: #87CEEB;

    grid-template-areas:
        "intro intro intro"
        "abt abt abt"
        "gall gall course"
        "li1 li2 li3";
}
 
.container > * {
    padding: 15px;
    border-radius: 3px;
}
 
.Intro {
    grid-area: intro;
    background-color: #008000;
}
 
.Abtme {
    grid-area: abt;
    background-color: #90EE90; 
}
 
.Cor {
    grid-area: course;
    background-color: #00008B; 
}
.pics {
    grid-area: gall;
    background-color: #87CEEB; 
}
 
.exp {
    grid-area: li1;
    background-color: #9ACD32;
}
 
.hobbs {
    grid-area: li2;
    background-color: #FFCCCB; 
}

.Goal {
    grid-area: li3;
    background-color: #D3D3D3; 
}